.noUi-tooltip {
	display: block;
	position: absolute;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	background: #fff;
	padding: 5px;
	text-align: center;
}

.noUi-horizontal .noUi-origin:nth-child(odd) .noUi-tooltip {
	top: -32px;
}
.noUi-horizontal .noUi-origin:nth-child(even) .noUi-tooltip {
	bottom: -32px;
}
.noUi-vertical .noUi-origin:nth-child(odd) .noUi-tooltip {
	left: 120%;
}
.noUi-vertical .noUi-origin:nth-child(even) .noUi-tooltip {
	right: 120%;
}
